#guysAndDolls {
	background-color:grey;
}
h2 {background-color: red;
}
.photos {
	width:360px;
	height:480px;

}
img,video {
	margin: 30px;    
}

#Noah {
	text-decoration: none;
	color:black;

}
#Noah h1 {
   font-size: 40px;
}


