 
 h3 {
 	/*background-color: green;*/
 }

 body {background-image: url("http://www.golfandresorts.com/splash/images/layout/golf_course.jpg");

 }

 section {background-color: rgba(255,255,255, .75);}

 img {
 	margin: 100px;
 }

 #Noah{ text-decoration: none;


 }

 #Noah h1 {
 	font-size:40px;
 }