#robot{
width:212px; 
height:377px;
}
h2{background-color: grey}
.black-border{
	border:10px solid green;
}
li {
	width: 25%;
}
.media-wrap {
	width:30%;
	display:inline;
}

img,video {
	margin: 8px;
}
#Noah{
color:black;
text-decoration: none;
}
