h2{background-color: white;
}

.tennis-photos{
	width: 180px;
	height:170px;
}
.tennis-photos-tall {

	  width: 180px;
	  height: 225px;
	}
body{
	background-image: url("http://thecourtstore.com/img/cms/linesfinished.jpg");
	background-size: cover;
}