h2{background-color: white;
}

.tennis-photos{
	width: 180px;
	height:170px;
}
.tennis-photos-tall {

	  width: 180px;
	  height: 225px;
	}
body{
	background-image: url("http://www.pixilix.com/uploads/2014/3/13/1319142www-pixilix-com.JPG");
	background-size: cover;
}

section{
	background-color: rgba(255, 255, 255, .75);

}